html
  head
    title= title
    meta( name='viewport', content='width=device-width, initial-scale=1.0' )
  body.
    <svg width="100%" height="100%" viewBox="0 0 1801 1801" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
        <g id="_7" serif:id="7">
            <rect x="0.7" y="0.9" width="1800" height="1800" style="fill:none;"/>
            <rect x="157.853" y="157.468" width="1501.06" height="1501.09" style="fill:white;"/>
            <g id="Ring-and-Background" serif:id="Ring and Background" transform="matrix(1,0,0,1,-540.25,7.1)">
                <circle id="white-background" serif:id="white background" cx="1440.75" cy="900.913" r="128" style="fill:white;"/>
                <g id="Ring">
                    <path d="M1532.04,953.619C1502.95,1004.01 1438.42,1021.3 1388.04,992.21C1337.65,963.12 1320.37,898.595 1349.46,848.207C1378.55,797.819 1443.08,780.527 1493.46,809.616C1543.84,838.705 1561.13,903.231 1532.04,953.619Z" style="fill:none;stroke:black;stroke-width:2.5px;"/>
                    <path d="M1532.04,953.619L1526.2,950.25" style="fill:none;stroke:black;stroke-width:2.5px;"/>
                    <path d="M1355.3,851.576L1349.46,848.207" style="fill:none;stroke:black;stroke-width:2.5px;"/>
                    <path d="M1391.41,986.374L1388.04,992.21" style="fill:none;stroke:black;stroke-width:2.5px;"/>
                    <path d="M1493.46,809.615L1490.09,815.451" style="fill:none;stroke:black;stroke-width:2.5px;"/>
                    <path d="M1493.46,992.206L1490.09,986.37" style="fill:none;stroke:black;stroke-width:2.5px;"/>
                    <path d="M1391.41,815.455L1388.04,809.619" style="fill:none;stroke:black;stroke-width:2.5px;"/>
                    <path d="M1355.29,950.253L1349.45,953.622" style="fill:none;stroke:black;stroke-width:2.5px;"/>
                    <path d="M1532.05,848.202L1526.21,851.571" style="fill:none;stroke:black;stroke-width:2.5px;"/>
                    <path d="M1440.75,1006.33L1440.75,999.591" style="fill:none;stroke:black;stroke-width:2.5px;"/>
                    <path d="M1440.75,802.232L1440.75,795.493" style="fill:none;stroke:black;stroke-width:2.5px;"/>
                    <path d="M1342.08,900.913L1335.34,900.913" style="fill:none;stroke:black;stroke-width:2.5px;"/>
                    <path d="M1546.17,900.913L1539.43,900.913" style="fill:none;stroke:black;stroke-width:2.5px;"/>
                </g>
            </g>
        </g>
    </svg>
    