body {
  background-color: white;
}

* {
  box-sizing: border-box;
}

svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

a {
  cursor: pointer;
}

.hidden {
  display: none;
}

.inactive {
  opacity: 0.25;
}

.circleEmpty {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

.circleFill {
  fill: black;
  stroke: #000;
  stroke-width: 2px;
}

@media screen and (orientation: portrait) {
  svg {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
}

.header {
  width: 80%;
  border-bottom: 1px solid black;
  font-size: 2em;
}

#lblError {
  color: red;
  font-size: 1em;
}

@font-face {
  font-family: "Comfortaa";
  src: url("Comfortaa-Bold.ttf");
}

html,
body,
div,
span,
input,
select,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font: inherit;
  font-family: Comfortaa;
}

input[type="button"] {
  font: inherit;
  font-family: Comfortaa;
  font-size: 1em;
}

.control-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 8px;
}

.user-control-container {
  flex-wrap: wrap-reverse;
  display: flex;
  column-gap: max(1%, 16px);
  justify-content: end;
  align-items: center;
  height: 4vh;
  margin-inline-start: auto;
}

.count-down-container {
  display: none;
  gap: 0.5vh;
  height: 35%;
  justify-content: end;
}

.count-down-container:has(.circle.active) {
  display: flex;
}

.count-down-container .circle {
  border: 2px solid black;
  height: 100%;
  aspect-ratio: 1;
  border-radius: 100px;
  opacity: 0.25;
}

.count-down-container .circle.active {
  opacity: 1;
}

.count-down-container .circle.filled {
  background: black;
}

#cooldown-icon,
#hold-icon {
  height: 100%;
  aspect-ratio: 1;
  display: none;
}

#cooldown-icon.active,
#hold-icon.active {
  display: block;
}

#cooldown-icon,
#hold-icon {
  opacity: 0.2;
}

#cooldown-icon.active,
#hold-icon.active {
  opacity: 1;
}

.guide-mode.holding svg {
  filter: grayscale(100%);
}

.session-control-container {
  width: 100%;
  display: flex;
  gap: 8px;
  align-items: center;
}

/* Styles related to play/guide mode */
body {
  margin: 0;
}

.session-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

/* For iPad specifically */
body.ipad {
  padding-block-end: 8px;
}

#MainContent {
  flex: 1;
  min-height: 0;
}

.guide-mode .grayscale-on-guide,
.play-mode .grayscale-on-play {
  filter: url("#grayscale");
}

.change-mode-container {
  position: relative;
  width: 100%;
  height: 60px;
  display: flex;
  bottom: 0px;
  left: 0px;
  background: #fff;
  justify-content: center;
  align-items: center;
}

.change-mode-btn {
  width: min(40%, 100px);
  height: 100%;
  background: none;
  border: none;
  padding: 4px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #000;
}

.change-mode-btn:hover {
  cursor: pointer;
}

.mode-indicator-container {
  position: absolute;
  left: 50%;
  top: 4px;
  transform: translateX(-50%);
  background: #dadada;
  border-radius: 8px;
  height: 50%;
  width: min(80%, 200px);
  display: flex;
  pointer-events: none;
  z-index: 0;
}

.mode-indicator {
  background: #ff7700;
  border-radius: 8px;
  height: 100%;
  width: 50%;
  transition: transform 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mode-indicator img {
  height: calc(100% - 4px);
  aspect-ratio: 1;
  opacity: 0;
  transition: opacity 0.2s;
  transform: scale(0.75);
}

.change-mode-container[data-guide-lock="true"] .mode-indicator img {
  opacity: 1;
}

.change-mode-container[data-mode="PLAY"] .mode-indicator {
  transform: translateX(0%);
}

.change-mode-container[data-mode="GUIDE"] .mode-indicator {
  transform: translateX(100%);
}

.session-status-container {
  left: 0;
  padding-inline: 4px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.session-status-container button {
  font-size: 16px;
}

/* Side menu styles */

.side-menu-trigger {
  background: none;
  border: none;
  height: 100%;
  aspect-ratio: 1;
  padding: 4px;
  cursor: pointer;
}

.side-menu-trigger img {
  height: 100%;
  width: 100%;
}

.side-menu-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #00000048;
  top: 0;
  left: 0;
  transition: background 0.2s;
}

.side-menu-container img {
  width: 24px;
  height: 24px;
  pointer-events: none;
  user-select: none;
}

.side-menu-title {
  background: #fff;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: transform 0.2s;
}

.score-title {
  background: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  cursor: pointer;
}

.close-btn {
  background: none;
  border: none;
  padding: 8px;
  cursor: pointer;
  margin-left: auto;
}

.close-btn img {
  width: 24px;
  height: 24px;
}

.side-menu-list {
  background: #fff;
  width: min(90%, 270px);
  height: 100%;
  margin-left: auto;
  transition: transform 0.2s;
}

.side-menu-list ul {
  list-style: none;
  margin: 0;
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.side-menu-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  user-select: none;
  cursor: pointer;
}

.autoplay-toggler {
  height: 24px;
  border-radius: 9999px;
  width: 42px;
  background: #000;
  position: relative;
  transition: background 0.2s;
}

.autoplay-toggler-knob {
  position: absolute;
  border-radius: 9999px;
  height: 20px;
  width: 20px;
  background: #fff;
  left: 2px;
  top: 2px;
  transition: left 0.2s;
}

.autoplay-toggler[data-active="true"] {
  background: #009d00;
}

.autoplay-toggler[data-active="true"] .autoplay-toggler-knob {
  left: 20px;
}

.side-menu-container[data-show="false"] {
  background: #00000000;
}

.side-menu-container[data-show="false"] .side-menu-list {
  transform: translateX(105%);
}

.side-menu-container[data-show="false"] .side-menu-title {
  transform: translateY(-105%);
}

.play-mode [sound][data-playing="true"] {
  animation: playingNode 6s infinite;
}

/* Hide user vote in play mode */
.play-mode text[id^="ta-"] {
  display: none;
}

.loading-sound.play-mode svg {
  pointer-events: none;
  filter: grayscale(100%);
}

@keyframes playingNode {
  0% {
    opacity: 0.1;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

.loading-sound #loading-sound-indicator {
  display: block;
}

#loading-sound-indicator {
  font-size: 18px;
  color: #9a9a9a;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  padding: 4px 8px 8px 8px;
  width: fit-content;
  margin: auto;
  position: fixed;
  bottom: calc(min(10vh, 60px) + 30px);
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

#loading-sound-indicator::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(100% + -6px);
  left: 8px;
  width: 0%;
  height: 2px;
  background-color: #9a9a9a;
  animation: infiniteExpand 1.5s infinite linear;
}

@keyframes infiniteExpand {
  to {
    width: calc(100% - 16px);
  }
}

#divOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  opacity: 0.5;
  display: none;
}

.overlay-content-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  transform: translateX(100%);
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
}

.overlay-content-container.showing {
  transform: translateX(0);
}

.overlay-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#qr-container img {
  width: 100%;
  padding-inline: 20px;
  margin-inline: auto;
  max-width: 500px;
  min-width: 0;
}

.return-btn {
  background: none;
  border: none;
  padding: 8px;
  font-size: 16px;
  font-family: Comfortaa;
  color: #000;
  cursor: pointer;
}

/* Voting */
#votingContainer {
  display: block;
  width: 0;
  height: 0;
  position: fixed;
  top: 0px;
  left: 0px;
}

.play-mode .vote-indicator:not(.winning) {
  display: none;
}

.vote-indicator {
  width: 9vmin;
  height: 9vmin;
  border-radius: 100000px;
  border: 0.5vmin solid #ff7700;
  color: #ff7700;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4vmin;
  background: #fff;
  cursor: pointer;
  font-family: "Roboto", "SF Pro Text", "Helvetica Neue", "Helvetica", "Arial",
    sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.vote-indicator.current-vote {
  background: #ff7700;
  color: #fff;
  box-shadow: 0 0 0 0 #ffa400, 0 0 0 0 #ffa400;
}

.vote-indicator.winning {
  animation: ease-in-out guide-mode-winning-pulse infinite 4s;
}

.play-mode .vote-indicator.winning {
  background: radial-gradient(
    circle,
    rgba(255, 164, 0, 1) 0%,
    rgba(255, 164, 0, 1) 10%,
    rgba(255, 164, 0, 0.5) 55%,
    rgb(255 255 255 / 0%) 70%
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0 0;
  border: none;
  width: 12vmin;
  height: 12vmin;
  overflow: hidden;
  color: transparent;
  animation: play-mode-winning-pulse infinite 5s;
}

.stay-btn {
  font-size: 2vh;
  color: #000;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 1vh;
  flex-wrap: nowrap;
  background: none;
  border: none;
  cursor: pointer;
  margin-inline-end: auto;
}

.stay-btn.visible,
.play-mode .stay-btn.winning {
  display: flex;
}

.play-mode .stay-btn.winning .stay-indicator {
  display: none;
}

.stay-indicator {
  height: 3.9vh;
  width: 3.9vh;
  border-radius: 10000px;
  border: 3px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6vh;
}

.stay-btn.voting .stay-indicator {
  border: 3px solid #ff7700;
  color: #ff7700;
}

.stay-btn.winning .stay-indicator {
  animation: stay-winning-pulse infinite 4s;
}

.stay-btn.current-vote .stay-indicator {
  background: #ff7700;
  color: #fff;
  box-shadow: 0 0 0 0 #ffa400, 0 0 0 0 #ffa400;
}

.play-mode .stay-btn {
  display: none;
}

@keyframes guide-mode-winning-pulse {
  0%,
  100% {
    box-shadow: 0 0 0 0 rgba(255, 164, 0, 0), 0 0 0 0 rgba(255, 164, 0, 0);
  }

  50% {
    box-shadow: 0 0 0 2vmin #ffa400, 0 0 4vmin 4vmin #ffa400;
  }
}

@keyframes play-mode-winning-pulse {
  0% {
    background-size: 0 0;
  }
  10% {
    background-size: 0.6vmin 0.6vmin;
  }
  50% {
    background-size: 12vmin 12vmin;
  }
  90% {
    background-size: 0.6vmin 0.6vmin;
  }
  100% {
    background-size: 0 0;
  }
}

@keyframes stay-winning-pulse {
  0%,
  100% {
    box-shadow: 0 0 0 0 rgba(255, 164, 0, 0), 0 0 0 0 #ffa400;
  }

  50% {
    box-shadow: 0 0 0 0.8vh #ffa400, 0 0 1.6vh 1.6vh #ffa400;
  }
}
