body {
  background-color: white;
}

svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

a {
  cursor: pointer;
}

.hidden {
  display: none;
}

.inactive {
  opacity: 0.25;
}

.circleEmpty {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

.circleFill {
  fill: black;
  stroke: #000;
  stroke-width: 2px;
}

@media screen and (orientation: portrait) {
  svg {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
}

.header {
  width: 80%;
  border-bottom: 1px solid black;
  font-size: 2em;
}

#lblError {
  color: red;
  font-size: 1em;
}

@font-face {
  font-family: "Comfortaa";
  src: url("Comfortaa-Bold.ttf");
}

html,
body,
div,
span,
input,
select,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font: inherit;
  font-family: Comfortaa;
}

input[type="button"] {
  font: inherit;
  font-family: Comfortaa;
  font-size: 1em;
}

.control-container {
  float: right;
  display: flex;
  row-gap: 2.5%;
  column-gap: 3.5%;
  flex-wrap: wrap;
  justify-content: end;
  height: 8vh;
}

.control-container * {
  box-sizing: border-box;
}

.control-container button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.count-down-container {
  display: flex;
  gap: 3.5%;
  width: 100%;
  height: 20%;
  justify-content: end;
}

.count-down-container .circle {
  border: 2px solid black;
  height: 100%;
  aspect-ratio: 1;
  border-radius: 100px;
  opacity: 0.25;
}

.count-down-container .circle.active {
  opacity: 1;
}

.count-down-container .circle.filled {
  background: black;
}

#cooldown-icon,
#hold-icon,
#mode-btn {
  height: 60%;
  aspect-ratio: 1;
}

#sound-btn img,
#note-mode-btn img,
#chord-mode-btn img {
  width: 100%;
  height: 100%;
}

#cooldown-icon,
#hold-icon {
  opacity: 0.2;
}

#cooldown-icon.active,
#hold-icon.active {
  opacity: 1;
}

#note-mode-icon,
#chord-mode-icon,
#sound-off-icon {
  height: 100%;
  width: 100%;
  display: none;
}

#mode-btn[data-mode="NOTE"] #note-mode-icon,
#mode-btn[data-mode="CHORD"] #chord-mode-icon,
#mode-btn[data-mode="MUTE"] #sound-off-icon {
  display: block;
}

#sound-off-icon {
  opacity: 0.2;
}
